@import "tailwindcss";

@font-face {
	font-family: 'Inter';
	src: url('./fonts/inter-variable.woff2') format
	('woff2');
	font-style: normal;
	font-weight: 100 700;
	font-display: swap;
}

@theme {
	/* Fuentes */
	--font-sans: 'Inter', system-ui, sans-serif;

	/* Colores personalizados */

	--color-primary: #cdffd2;
	--color-primary-light: #c3ffd1ff;
	--color-primary-dark: #003703ff;

	/* Breakpoints */

	--breakpoint-xs: 350px;
}

/* Lo ideal: crear un componente (React u otro) en vez de utilizar Apply */

.social-button {
	@apply p-2 size-12 xs:size-16 flex items-center justify-center rounded-full hover:scale-110 transition-transform;
}
